body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #fafafa;
}

.film {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.film__back {
  margin-bottom: 20px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.film__wrapper {
  display: flex;
  gap: 30px;
}

.film__poster {
  width: 300px;
  border-radius: 10px;
}

.film__info {
  max-width: 600px;
}

.film__title {
  margin-top: 0;
}
